body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #3A3A3A;
    text-align: center;
    margin: 20px 0 32px 0;
}

.product-section {
    display: flex;
    flex-direction: column;
    
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1238px;
    margin: 0 auto;
}

.flex-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    
}

.img-text {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    background-color: #E97171;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text1 {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    background-color: #2EC1AC;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block2 {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 31px;
    padding-bottom: 30px;
}

.p2 {
    font-size: 14px;
    color: #FFFFFF;
}

.block {
    position: relative;
    background-color: #F4F5F7;
    margin: 0 32px 32px 0;
}

.block-last {
    margin-right: 0;
}


.p {
    font-size: 22px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 8px;
    margin-top: 0;
}

.p1 {
    font-size: 14px;
    font-weight: 500;
    color: #898989;
    margin-bottom: 8px;
    margin-top: 0;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
}

.flex1 {
    font-size: 18px;
    font-weight: 600;
    color: #3A3A3A;
}

.flex2 {
    font-size: 14px;
    font-weight: 400;
    color: #B0B0B0;
    text-decoration-line: line-through;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
}

.button1 {
    
    background: #FFFFFF;
    border: 1px solid #E89F71;
    padding: 12px 82px;
    color: #E89F71;

}

.button1:hover {
    cursor: pointer;
    background: wheat;
}

.button-wrap {
    position: absolute;
    display: flex;
    top: 175px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button2 {
    background: #FFFFFF;
    border: 1px solid #E89F71;
    padding: 12px 82px;
    color: #E89F71;
    margin-bottom: 24px;
}


.text {
    margin-left: 8px;
}

.add-card-block {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3A3A3A00;
    transition: background-color .7s;
}

.block:hover .add-card-block {
    z-index: 1;
    background-color: #3A3A3A72;
}

.button2:hover {
    cursor: pointer;
    background: wheat;
}

.button-block {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    
}

.button-blocks {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    
}

.button-block::before {
    content: url('./img/Vector\ \(1\).png');
    height: 27px;
}

.button-blocks::before {
    content: url('./img/Vector.png');
}

footer {
    width: 100%;
    min-height: 50px;
    margin-top: 87px;
    padding-top: 31px;
}

.footer {
    max-width: 1237px;
    margin: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D8D8D8;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.footer-item {
    max-width: 262px;
    margin-right: 80px;
}

.footer-item > * {
    display: block;
    margin-bottom: 16px;
}

.footer-item > *:last-child {
    margin-bottom: 0;
}

.footer-item:last-child {
    margin-right: 0;
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    width: 249px;
}

.descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #616161;
    text-decoration: none;
}

.maps {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #616161;
    text-decoration: none;
}

.maps::before {
    content: url('./img/Subtract.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
}

.tel::before {
    content: url('./img/Vector.svg') '';
    width: 20px;
    height: 20px; 
    display: inline-block;
}

.web {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #616161; 
}

.email-input {
    position: relative;
    display: flex;
    max-height: 45px;
}

input[type=text] {
    background: #F4F5F7;
    height: 45px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #828282;
    padding-left: 12px;
    margin-right: 4px;
}

.sbmt {
    width: 46px;
    height: 45px;
    background-color: #E89F71;
    border: none;
    cursor: pointer;
}

.tips {
    position: relative;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 43px;
}

.box {
    margin-right: 32px;
}

.box:last-child {
    margin-right: 0;
}

.block3 {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
    background: #FFFFFF;
}

.control {
    position: absolute;
    top: calc(50% - 24px);
    right: -25px;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 14px 1px 
    rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.control-left {
    position: absolute;
    top: calc(50% - 24px);
    left: -25px;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 14px 1px 
    rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ellipse {
    margin-right: 12px;
    margin-top: 0;
    border: none;
    cursor: pointer;
    background: transparent;
    padding-left: 0;
}

.ellipse > span {
    display: block;
    background: #D8D8D8;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.ellipse.active {
    border-radius: 50%;
    border: 1px solid #E89F71;
    width: 25px;
    height: 25px;
    padding-left: 6px;
}

.ellipse.active > span {
    background: #E89F71;
}

.ellipse:last-child {
    margin-right: 0;
    padding-right: 0;
}

.showmore {
    display: none;
} 

.qwerty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.feature {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
    padding-bottom: 16px;
}

h6 {
    font-size: 18px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 2px;
    margin-top: 0;
}

.dignity {
    font-size: 16px;
    font-weight: 500;
    color: #898989;
    margin: 0;
}

.text-external-1 {
    display: flex;
    align-items: center;
}

.text-external-1::before {
    content: url('./img/H.svg');
    width: 40px;
    height: 40px;
}

.text-external-2 {
    display: flex;
    align-items: center;
}

.text-external-2::before {
    content: url('./img/W.svg');
    width: 40px;
    height: 40px;
}

.text-external-3 {
    display: flex;
    align-items: center;
}

.text-external-3::before {
    content: url('./img/F.svg');
    width: 40px;
    height: 40px;
}

.text-external-4 {
    display: flex;
    align-items: center;
}

.text-external-4::before {
    content: url('./img/24.svg');
    width: 40px;
    height: 40px;
}

.text-item {
    margin-left: 24px;
}

.block-wrapper {
    margin-left: calc((-100vw / 2) + 50%);
    margin-right: calc((-100vw / 2) + 50%);
    background-color: #FCF8F3;
}

.block-center {
    width: 1238px;
    margin: auto;
}

.block-item {
    display: flex;
    margin-left: 100px;
    margin-top: 44px;
    margin-bottom: 44px;
    align-items: center;
    overflow: hidden;
}

.title {
    margin-right: 86px;
}
 
.header {
    font-size: 40px;
    font-weight: 700;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    margin-bottom: 24px;
}

.more {
    padding: 12px 40px;
    border: none;
    background-color: #E89F71;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.product {
    display: flex;
}

.image {
    position: relative;
    margin-right: 24px;
}

.indicator-gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 48px;
}

.ellipse-gallery {
    margin-right: 12px;
    margin-top: 0;
    border: none;
    cursor: pointer;
    background: transparent;
    padding-left: 0;
}

.ellipse-gallery > span {
    display: block;
    background: #D8D8D8;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.ellipse-gallery.active {
    border-radius: 50%;
    border: 1px solid #E89F71;
    width: 25px;
    height: 25px;
    padding-left: 6px;
}

.ellipse-gallery.active > span {
    background: #E89F71;
}

.ellipse-gallery:last-child {
    margin-right: 0;
    padding-right: 0;
}

.control-right {
    position: absolute;
    top: calc(50% - 24px);
    right: -24px;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 14px 1px 
    rgba(138, 35, 35, 0.16);
}

.content-wrapper {
    position: absolute;
    display: flex;
    align-items: flex-end;
    left: 24px;
    bottom: 24px;
}

.content {
    background: #FFFFFF72;
    padding-left: 32px;
    padding-right: 32px;
}

.frame {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    margin-top: 32px;
}

.vector {
    width: 27px;
    height: 0;
    border-top: 1px solid #616161;
    
}

.frame__number {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8px;
}

.frame__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}

.subtitle-inner {
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
}

.jump-button {
    width: 48px;
    height: 48px;
    background: #E89F71;
    border: none;
}

.img {
    width: 372px;
    height: 486px;
}

.wrapper-header {
    margin-left: calc((-100vw / 2) + 50%);
    margin-right: calc((-100vw / 2) + 50%);
    overflow: hidden;
}

.sheet {
    background: linear-gradient(90deg,#F9F1E7 66%,
    #FCF8F3 34%);
}

.section {
    position: relative;
}

.top-nav {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 66px;
    margin-left: 100px;
    justify-content: center;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 8px;
}

.menus {
    display: flex;
    margin: 11px 42px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

.menu:last-child {
    margin-right: 0;
}

.after {
    margin-right: 8px;
}

.nav-dropdown {
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-dropdown::after {
    content: url('./img/Line\ 1.svg');
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 0;
}

input[type=search] {
    width: 473px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    color: #616161;
    background: #FFFFFF;
    border: none;
    background-image: url('./img/Ellipse.svg');   
    background-repeat: no-repeat;   
    background-position: 16px;
    padding-left: 46px;
    margin-right: 120px;
}

.icons {
    display: flex;
    align-items: center;
}

.heart {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 32px;
    cursor: pointer;
}

.heart::after {
    content: url('./img/06.svg');
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
}

.cart {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 32px;
    cursor: pointer;
}

.cart::after {
    content: url('./img/Cart.svg');
    position: absolute;
    width: 24px;
    height: 24px;
}

.photo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.photo::after {
    content: url('./img/Ellipse\ 2.png');
}

.image-gallery {
    display: flex;
    align-items: flex-end;
}

.outer-block {
    position: absolute;
    padding: 60px;
    background: #FFFFFF98;
    backdrop-filter: blur(34px);
    bottom: 80px;
    left: -306px;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 16px;
}

.outer-block__text {
    font-size: 20px;
    font-weight: 500;
    color: #898989;
    margin-top: 0;
    margin-bottom: 48px;
}

.shop-now {
    padding: 24px 140px;
    border: none;
    background: #E89F71;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.shop-now:hover {
    opacity: 70%;
}

.image-gallery__central {
    position: relative;
    margin-right: 32px;
}

.scroll {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 22px;
    align-items: center;
}

.scroll__left {
    position: relative;
    width: 48px;
    height: 48px;
    background: #E89F71;
    border-radius: 50%;
}

.scroll__left::after {
    content: url('./img/line\ right.svg');
    position: absolute;
    top: 14px;
    left: 20px;
}

.scroll__right {
    position: relative;
    width: 48px;
    height: 48px;
    background: #E89F71;
    border-radius: 50%;
    margin-right: 8px;
}

.scroll__right::after {
    content: url('./img/line\ left.svg');
    position: absolute;
    top: 14px;
    left: 19px;
}

.scroll__left:hover {
    opacity: 30%;
    cursor: pointer;
}

.scroll__right:hover {
    opacity: 30%;
    cursor: pointer;
}

.image-wrapper {
    position: relative;
}

.info-box {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 24px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(8px);
    right: 40px;
    bottom: 40px;
}

.description {
    margin-right: 57px;
}

.product-name__header {
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 4px;
}

.product-name__text {
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
    margin-top: 8px;
    margin-bottom: 0;
}

.arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.7;
}

.arrow__right {
    content: url('./img/right.svg');
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 5px;
}

.indicator-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 490px;
    height: 27px;
}

.ellipse-image {
    margin-right: 12px;
    margin-top: 0;
    border: none;
    cursor: pointer;
    background: transparent;
    padding-left: 0;
}

.ellipse-image > span {
    display: block;
    background: #D8D8D8;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.ellipse-image.active {
    border-radius: 50%;
    border: 1px solid #E89F71;
    width: 25px;
    height: 25px;
    padding-left: 6px;
}

.ellipse-image.active > span {
    background: #E89F71;
}

.ellipse-image:last-child {
    margin-right: 0;
    padding-right: 0;
}
